version: 2

aliases:

   - &setup_anaconda
    name: setup_anaconda
    command: |
       mkdir $WORKDIR
       cd $WORKDIR
       curl https://repo.continuum.io/archive/Anaconda3-5.3.0-MacOSX-x86_64.sh -o anaconda3.sh
       bash ./anaconda3.sh -b -p miniconda

   - &setup_miniconda
    name: setup_miniconda
    command: |
       git clone -b validateNightly --depth 1 git@github.com:CDAT/cdat $WORKDIR/cdat
       python $WORKDIR/cdat/scripts/install_miniconda.py -w $WORKDIR -p 'py3'

   - &prepare_firefox
     name: prepare_firefox
     command: |
        sudo apt-get purge -y firefox
        wget https://sourceforge.net/projects/ubuntuzilla/files/mozilla/apt/pool/main/f/firefox-mozilla-build/firefox-mozilla-build_63.0.3-0ubuntu1_amd64.deb
        sudo dpkg -i firefox-mozilla-build_63.0.3-0ubuntu1_amd64.deb
        wget https://github.com/mozilla/geckodriver/releases/download/v0.23.0/geckodriver-v0.23.0-linux64.tar.gz
        gunzip geckodriver-v0.23.0-linux64.tar.gz
        tar -xvf geckodriver-v0.23.0-linux64.tar
        echo "xxx ls"
        ls
        echo "xxx pwd"
        pwd
        sudo mv geckodriver /usr/local/bin
        export PATH=/usr/local/bin:$PATH
        type geckodriver
        type firefox

   - &setup_for_selenium_tests
     name: setup_for_selenium_tests
     command: |
        echo "xx setup_for_selenium_tests xxx"
        export PATH=$WORKDIR/miniconda/bin:$PATH
        #type python
        #python -m venv venv
        #. venv/bin/activate
        pip install selenium
        pip install requests
        pip install pytest
        #pip install pytest-testconfig

   - &install_chromedriver_on_macos
     name: install_chromedriver_on_macos
     command: |
        brew update
        brew tap homebrew/cask
        brew cask install chromedriver

   - &download_selenium
     name: download_selenium
     command: |
        cd $WORKDIR
        #curl -O http://selenium-release.storage.googleapis.com/3.5/selenium-server-standalone-3.5.3.jar
        curl -O http://selenium-release.storage.googleapis.com/3.9/selenium-server-standalone-3.9.1.jar

   - &start_selenium
     name: start_selenium
     command: |
        cd $WORKDIR
        mkdir test-reports
        java -jar selenium-server-standalone-3.9.1.jar -log test-reports/selenium.log
     background: true

   - &setup_jupyter_vcdat
     name: setup_jupyter_vcdat
     command: |
        export PATH=$WORKDIR/miniconda/bin:$PATH
        export CDAT_ANONYMOUS_LOG=False
        #export $(dbus-launch)
        #export NSS_USE_SHARED_DB=ENABLED
        conda create -n jupyter-vcdat -c cdat/label/nightly -c conda-forge -c cdat -c anaconda nodejs "python>3" vcs jupyterlab pip nb_conda nb_conda_kernels $FFMPEG
        source activate jupyter-vcdat
        pip install sidecar
        jupyter labextension install @jupyter-widgets/jupyterlab-manager
        jupyter labextension install @jupyter-widgets/jupyterlab-sidecar
        echo "XXX git clone https://github.com/CDAT/vcs.git xxx"
        git clone https://github.com/CDAT/vcs.git
        cd vcs
        python setup.py install
        cd ..
        #echo "xxx git clone https://github.com/CDAT/jupyter-vcdat.git xxx"
        #git clone https://github.com/CDAT/jupyter-vcdat.git
        #cd jupyter-vcdat
        echo "xxx checking where we are...."
        pwd
        echo "xxx building jupyter-vcdat..."
        #git checkout vcdat2.0-sterling
        python setup.py install
        pip install selenium
        pip install pyvirtualdisplay
        #pip install requests
        pip install pytest
     no_output_timeout: 15m

   - &run_chromedriver
     name: run_chromedriver
     command: |
        chromedriver
     background: true

   - &run_jupyter_vcdat
     name: run_jupyter_vcdat
     command: |
        pwd
        ls
        export PATH=$WORKDIR/miniconda/bin:$PATH
        export CDAT_ANONYMOUS_LOG=False
        #export $(dbus-launch)
        #export NSS_USE_SHARED_DB=ENABLED
        source activate jupyter-vcdat
        jupyter lab --ip='127.0.0.1'
     background: true

   - &run_selenium_tests
     name: run_selenium_tests
     command: |
        echo "xxxx sleep for 120 seconds"
        sleep 120
        date
        export PATH=$WORKDIR/miniconda/envs/jupyter-vcdat/bin:$WORKDIR/miniconda/bin:/usr/local/bin:$PATH
        source activate jupyter-vcdat
        export DISPLAY=:99
        git clone https://github.com/muryanto1/jupyter-vcdat-tests.git
        cd jupyter-vcdat-tests
        pytest -s -v tests/test_variable.py

   - &prep_conda_cache
     name: prep_conda_cache
     command: |
        mv $WORKDIR save_workdir

   - &get_conda_cache
     name: get_conda_cache
     command: |
        ls
        mv save_workdir workdir

   - &do_sleep_for_ssh
     name: do_sleep_for_ssh
     command: |
        sleep 14400
     background: true

   - &download_and_start_X
     name: download_and_start_X
     command: |
        sudo apt-get install -y x11vnc
        x11vnc -forever -nopw
     background: true

jobs:
   linux_selenium:
      #docker:
         #- image: selenium/standalone-chrome:3.1.0
         #- image: circleci/python:3.6.2-stretch-browsers
         #- image: muryanto1/centos_for_jupyter_vcdat
      machine:
         image: circleci/classic:latest
      environment:
         WORKDIR: 'workdir'
         FFMPEG: 'ffmpeg'
      steps:
         - checkout
         - run: which Xvfb
         - run: which vncserver
         - run: *download_and_start_X
         #- run: which google-chrome
         - run: *prepare_firefox
         - run: which geckodriver
         - run: which firefox
         - run: *setup_miniconda
         - run: *setup_jupyter_vcdat
         - run: *run_jupyter_vcdat
         - run: export DISPLAY=:1.0
         - run: *run_selenium_tests

   macos_selenium:
      macos:
         xcode: "10.1.0"
      environment:
         WORKDIR: 'workdir'
         FFMPEG: "ffmpeg>4"
         TEMP: "/tmp"
      steps:
         - checkout
         #- run: which Xvfb
         #- run: which google-chrome
         - run: sudo /System/Library/CoreServices/RemoteManagement/ARDAgent.app/Contents/Resources/kickstart -activate -configure -access -on -clientopts -setvnclegacy -vnclegacy yes -clientopts -setvncpw -vncpw password1 -restart -agent -privs -all
         #- run: which vncserver
         - run: ps -ef | grep -i vnc
         - run: ls /Applications
         - run: brew cask install xquartz
         - run: ls /opt/X11/bin
         - run: brew cask install google-chrome
         - run: ls /Applications
         - run: ls "/Applications/Google Chrome.app/Contents/MacOS/Google Chrome"
         - run: *install_chromedriver_on_macos
         - run: which chromedriver
         - run: id
         - run: npm -v
         - run: *run_chromedriver
         - run: *setup_miniconda
         - run: *setup_jupyter_vcdat
         - run: *run_jupyter_vcdat
         - run: *do_sleep_for_ssh
         #- run: *run_selenium_tests

   docker_selenium:
      docker:
         - image: circleci/python:3.6.5-node-browsers
         - image: selenium/standalone-chrome:latest
      environment:
         WORKDIR: 'workdir'
         FFMPEG: 'ffmpeg'
         TEMP: "/tmp"
      steps:
         - checkout
         - run: which google-chrome
         - run: which chromedriver
         - run: ps -ef | grep Xvfb
         - run: env | grep DISPLAY
         - run: hostname
         - run: id
         - run: *setup_miniconda
         - run: *setup_jupyter_vcdat
         - run: *do_sleep_for_ssh
         - run: *run_jupyter_vcdat
         - run: ps -ef
         - run: *run_selenium_tests

   run_tests:
      machine:
         image: circleci/classic:latest
      environment:
         WORKDIR: 'workdir'
      steps:
         - checkout
         - run: *run_selenium_tests

workflows:
   version: 2
   browser_tests:
      jobs:
         - docker_selenium
         #- macos_selenium
         #- linux_selenium
         #- run_tests:
         #     requires:
         #        - test_selenium

